body {
    position: relative;
    margin: 30px 80px;
}

/* RESULTADO 1 */

#diez_de_diamantes {
    position: absolute;
    top: 161px;
    left: 186px;
    z-index: 1;
}

#sota_de_diamantes {
    position: absolute;
    top: 173px;
    left: 200px;
    z-index: 2;
}

#reina_de_diamantes {
    position: absolute;
    top: 186px;
    left: 213px;
    z-index: 3;
}

#rey_de_diamantes {
    position: absolute;
    top: 199px;
    left: 226px;
    z-index: 4;
}

#as_de_diamantes {
    position: absolute;
    top: 212px;
    left: 240px;
    z-index: 5;
}

/* RESULTADO 2 */

#resultado2{
    margin-top: 350px
}

#diez_de_diamantes_2 {
    position: absolute;
    top: 548px;
    left: 183px;
    z-index: 5;
}

#sota_de_diamantes_2 {
    position: absolute;
    top: 563px;
    left: 198px;
    z-index: 4;
}

#reina_de_diamantes_2 {
    position: absolute;
    top: 576px;
    left: 211px;
    z-index: 3;
}

#rey_de_diamantes_2 {
    position: absolute;
    top: 589px;
    left: 224px;
    z-index: 2;
}

#as_de_diamantes_2 {
    position: absolute;
    top: 602px;
    left: 237px;
    z-index: 1;
}


