body{
    background-color: lightblue;
}

.contenedor{
    font-size: 20px;
}

.titulo{
    text-decoration: underline;
    color: white;
}

.parrafo1{
    color: navy; 
    font-weight: bold;
}

.parrafo2{
    text-transform: uppercase; 
    text-align: justify;
}

.parrafo3{
    font-size: 12px;
}

.texto-cursiva{
    font-style: italic;
}